@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
}

.blog {
  margin-bottom: 2em;
}

.blog-date {
  color: gray;
  font-size: 0.6rem;
  margin-bottom: 0.7rem;
}

.blog-excerpt {
  font-size: 0.8rem;
}

p {
  margin-bottom: 0.6em;
}

.footer {
  color: gray;
  position: absolute;
  margin-right: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  font-size: 0.7rem;
}

.footer a {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  color: gray;
}

.footer img {
  margin-left: 0.6rem;
}

.text-container {
  max-width: 60ch;
}

code {
  background: rgba(169, 165, 165, 0.05);
  padding: 0.3em;
  border-radius: 5px;
}
