.container {
  font-family: "DM Sans";
  padding-top: 2rem;
  max-width: 1240px;
  margin: 0 auto;
  padding: 2em;
}

.heading {
  font-size: 3rem;
  color: #333;
  margin: 4rem 0 1rem;
}

.navLinks {
  display: flex;
  list-style: none;
}

/* .navlink-item:not(last-child) {
  padding-right: 2rem;
} */

.navLink-item > a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  margin-right: 1em;
}

a[aria-current="page"] {
  border-bottom: 4px solid rebeccapurple;
  border-bottom: 2px solid rebeccapurple;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  font-weight: bold;
}

.siteTitle {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
